<article id="<%= id %>">
  <h2><%= name %></h2>
  <button onclick="openEditModal('<%= type %>', 'edit', '<%= id %>')">
    Edit
  </button>
  <button class="deleteBtn" id="<%= id %>">Delete</button>
</article>
