<% const date = new Date(gameInfo.release);
const formatedDate = date.toLocaleDateString();
%>

<article class="">
  <img src="<%= gameInfo.image_link %>" />
  <div class="allCard">
    <h2><%= gameInfo.title %></h2>
    <div class="allInfoContainer">
      <p><%= gameInfo.description %></p>
      <dl class="infoContainer">
        <div class="dlContainer">
          <dt>Release Date:</dt>
          <dd><%= formatedDate %></dd>
        </div>
        <div class="dlContainer">
          <dt>Developer:</dt>
          <dd><%= gameInfo.developer %></dd>
        </div>
        <div class="dlContainer">
          <dt>Categories:</dt>
          <dd class="categoryDD">
            <% (gameInfo.categories || []).forEach(category => { %>
            <p><%= category %></p>
            <% }) %>
          </dd>
        </div>
      </dl>
    </div>
    <% if(showBtn) { %>
    <div class="btnGroup">
      <button onclick="openGameEditModal('<%= gameInfo.id %>')">Edit</button>
      <button class="deleteBtn" id="<%= gameInfo.id %>">Delete</button>
    </div>
    <%}%>
  </div>
</article>
