<% const date = new Date(gameInfo.release);
const formatedDate = date.toLocaleDateString();
%>

<article>
  <img src="<%= gameInfo.image_link %>" />
  <h2><%= gameInfo.title %></h2>
  <p><%= gameInfo.description %></p>
  <p><%= formatedDate %></p>
  <p><%= gameInfo.developer %></p>
  <div>
    <% (gameInfo.categories || []).forEach(category => { %>
    <p><%= category %></p>
    <% }) %>
  </div>
  <button onclick="openGameEditModal('<%= gameInfo.id %>')">Edit</button>
</article>
