<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/modal.js"></script>
  <title><%= title %> - Games Inventory</title>
</head>
<body>
   <%- include("./elements/nav.ejs") %>
  <main>
    <h1><%= title %></h1>
    <ul>
      <% for (let i = 0; i < info.length; i++ ) { %>
        <li>
          <%- include("./elements/card", {name: info[i].name, id: info[i].id, type : type }) %>
        </li>
      <% } %>
    </ul>
    <%- include("./elements/simpleModal.ejs") %>
  </main>
</body>
</html>
