<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/index.css" rel="stylesheet" />
    <link href="/styles/games.css" rel="stylesheet" />
    <link href="/styles/homePage.css" rel="stylesheet" />
    <title>PixelVault</title>
  </head>
  <body>
    <%- include("./elements/nav.ejs") %>
    <main>
      <h1>PixelVault</h1>
      <p class="titleDescription">
        Welcome to PixelVault, your ultimate database for cataloging video
        games. Easily manage and explore an expanding collection of games,
        vibrant categories, and industry-leading developers all in one place.
      </p>
      <section class="cardsContainer">
        <a href="/games" class="totalCard">
          <p class="totalTitle">Games</p>
          <p class="totalNumber"><%= totals.games %></p>
        </a>
        <a href="/categories" class="totalCard">
          <p class="totalTitle">Categories</p>
          <p class="totalNumber"><%= totals.categories %></p>
        </a>
        <a href="/developers" class="totalCard">
          <p class="totalTitle">Developers</p>
          <p class="totalNumber"><%= totals.developers %></p>
        </a>
      </section>
      <section>
        <h2>Recently Added Games</h2>
        <ul id="gamesContainer" class="homeCont">
          <% lastGames.forEach((game) => { %>
          <li class="gameCard homeCard">
            <%- include("./elements/gameCard.ejs", {gameInfo: game, showBtn:
            false}) %>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
    <%- include("./elements/footer") %>
  </body>
</html>
